﻿@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trilogy Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/hmeLogin")

    <style>
        /*.navbar-brand {
            float: left;
            height: 50px;
            padding: unset;
            font-size: 18px;
            line-height: 20px;
        }*/

        body {
            background-color: #eaeaea;
            padding-top:unset;
        }

        /*.navbar-trilogy {
            border-color: #06349d;
        }*/
        .relogin{
            padding-top:10px;
        }
    </style>

</head>
<body>
    @*<div class="navbar navbar-trilogy navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-logo corp-images">
                    <img src="~/images/trilogy-logo.png" alt="HME" height="45" style="margin-top: 3px;" />
                </a>
                @Html.ActionLink("QD809", "Login", "Account", new { area = "" }, new { @class = "navbar-brand-appname" })
            </div>

        </div>
    </div>*@

    <div style="height: 100%;padding-top: 10px;">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
