﻿ @{
     var pageName = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/bundles/bootstrap")


    <style>
        .cal-cont {
            float: right;
            margin-left: 10px;
            font-size: 16px;
            cursor: pointer;
        }
        .fai-header {
            font-size: 18px;
            color: #180BB8;
            padding-bottom: 10px;
        }
        thead, tbody {
            display: block;
            /*border: 1px solid black;*/
        }
        tbody.scrollable {
            height: 300px;
            /* Just for the demo          */
            overflow-y: auto;
            /* Trigger vertical scroll    */
            width: 100%;
        }
        textarea {
            box-sizing: border-box;
            resize: none;
            overflow: hidden;
        }
        .strikethrough{
            text-decoration: line-through;
        }

    </style>
</head>
<body style="padding-top:unset;">
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">
            &copy; @DateTime.Now.Year-Clear-Com, an HME Company. @*&copy; @DateTime.Now.Year-HM Electronics. All rights reserved.*@
            </p>
        </footer>
    </div>
    <div id="message" style="width:75%; height:100px;box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2); vertical-align:middle;text-align:center;margin-right: auto; margin-left: auto; padding:5px; background-color:#fff; border:1px solid rgba(0, 0, 0, .2);display:none;">
        <span style="color:#0093D8" id="msg"></span>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
