﻿@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trilogy Login</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @Styles.Render("~/Content/hmeLogin")

    <style>
        body{
            background-color:#eaeaea;
        }
        .navbar-trilogy {
            border-color: #06349d;
        }
        /*.navbar-brand-appname {
            float: left;
            padding: 25px 15px;
            font-size: 18px;
            line-height: 20px;
        }*/
    </style>

</head>
<body>
    <div class="navbar navbar-trilogy navbar-fixed-top" style="height: 30px;">
        <div class="container" style="margin-left:0;">
            <div class="navbar-header">
                    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                <a class="navbar-brand navbar-logo corp-images" style="padding-top: 0;">
                    <img src="~/images/trilogy-logo.png" alt="HME" height="45" style="margin-top: 3px;" />
                </a>
                @Html.ActionLink("QD809", "Login", "Account", new { area = "" }, new { @class = "navbar-brand-appname" })
            </div>
 
        </div>
    </div>

    <div style="height: 100%;padding-top:20px;">
        @RenderBody()
   </div>
    @Scripts.Render("~/bundles/jquerylogin")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>