﻿ @{
     var pageName = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="/signalr/hubs"></script>
    <style>
        .cal-cont {
            float: right;
            margin-left: 10px;
            font-size: 16px;
            cursor: pointer;
        }
        .fai-header {
            font-size: 18px;
            color: #180BB8;
            padding-bottom: 10px;
        }
        thead, tbody {
            display: block;
            /*border: 1px solid black;*/
        }
 
        textarea {
            box-sizing: border-box;
            resize: none;
            overflow: hidden;
        }

        .bell-transparent{
            color:transparent;
        }
        .bell-red{
            color:red;
        }
        .bell-green{
            color:green;
        }
         .bell-yellow{
            color:yellow;
        }
        .overlay{
            position:fixed;
            z-index:999;
            width:100%;
            height:100%;
            background-color: black;
            background-color:rgba(0,0,0,.04)
        }

        .hide{
            display:none;
        }

        .show{
            display:block;
        }
        
        .alert-info {
            color: #3a87ad;
            background-color: #fff;
            border-color: #bce8f1;
        }

        .alert {
            padding: 0px; 
            margin-bottom: 0px; 
            border: 1px solid transparent;
            border-radius: 4px;
        }
  </style>
</head>
<body>
@if (pageName != "admin") {
    <div class="navbar navbar-trilogy navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
             @if (pageName != "admin")
             {
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             }
               <div style="display:inline-block;padding-top:15px;"><i class="fa fa-bell bell-transparent busy-bell"></i></div>
               <a class="navbar-brand navbar-logo corp-images" style="margin-left:0;">
                   <img src="~/images/trilogy-logo.png" alt="HME" height="45" style="margin-top: 3px;" />
                   <div style="display:inline-block;padding-top:15px;"><i class="fa fa-bolt bolt bell-transparent"></i></div>
               </a>
            @if (pageName != "admin")
            {
                @Html.ActionLink("QD809", "Index", "Home", new { area = "" }, new { @class = "navbar-brand-appname" })
            }
            else
            {
                @Html.ActionLink("User Admin", "Index", "admin", new { area = "" }, new { @class = "navbar-brand-appname" })

            }
            </div>
            @if (pageName != "admin" && pageName != "Account")
            {
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                    {
                    <li>
                        @if (User.IsInRole("Administrator"))
                        {
                        <a class="dropdown-toggle addcaret" data-toggle="dropdown" href="#">Menu<b class="caret"></b></a>
                        }
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Administrator"))
                            {
                                <li><a href="javascript:$('#userAdminModal_iframe').attr('src', '/admin');$('#userAdminModal').modal('show');void(0);">User Admin</a></li>
                                <li><a href="javascript:$('#dbAdminModal_iframe').attr('src', '/db');$('#dbAdminModal').modal('show');void(0);;">DB Admin</a></li>
                            }
                         </ul>

                    </li>
                    }
                    <li id="search_reports" style="display:none;"><a href="javascript:void(0);" onclick="showsearchpage();">Search</a></li>
                    <li id="show_report" style="display:none;"><a href="javascript:void(0);" onclick="showreport();">Report</a></li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                    {
                    <li><a href="javascript:void(0);" onclick="newreportclick();void(0);">New Report</a></li>
                    }
                    <li id="save_report" style="display:none;"><a href="javascript:void(0);" onclick="update_report();">Save</a></li>
                    <li id="cancel_report" style="display:none;"><a href="javascript:void(0);" onclick="cancel_report();">Cancel</a></li>

                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Report", "Contact", "Home")</li>*@
                    @*@if (User.IsInRole("Administrator"))
                    {
                        <li><a href="javascript:$('#userAdminModal_iframe').attr('src', '/admin');$('#userAdminModal').modal('show');">User Admin</a></li>
                    }*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            }
        </div>
    </div>
}

    <div class="container body-content" style="max-width: 1970px !important;">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">
            &copy; @DateTime.Now.Year-Clear-Com, an HME Company. @*&copy; @DateTime.Now.Year-HM Electronics. All rights reserved.*@
            </p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
