﻿/* DatePicker Styles */
.cal-cont {float:right;margin-left:10px;font-size:16px;cursor:pointer;}
.cal-field.form-control[readonly] {background-color:#ffffff;cursor:pointer;}
div.ui-datepicker {font-size:10px;}
/* DatePicker Styles */

