﻿@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
@*<link rel="stylesheet" href="/content/fai.css">*@

<div id="fai_report" class="container" style="min-height: 100%;position:relative; font-size:12px;">
    <div class="fai-header" align="center">Data Entry Form</div>
    <form action="" method="POST" id="fai_form" class="form-horizontal col-lg-12" role="form" accept-charset="UTF-8">
         <div class="row">
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="status" class="control-label col-xs-4" style="text-align:left;">Product range:</label>
                    <div class="fai-input">
                        <select class="level1 form-control status" id="productrange" name="productrange" style="width:40%;">
                            <option value="" disabled selected>Select Product range</option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="serialnumber" class="control-label col-xs-4" style="text-align:left;">QD809 Serial Number:</label>
                    <div class="fai-input">
                        <input type="text" maxlength="100" name="serialnumber" id="serialnumber" class="form-control input" style="width:40%; font-size:unset;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="status" class="control-label col-xs-4" style="text-align:left;">Part number:</label>
                    <div class="fai-input">
                        <input type="text" maxlength="100" name="serialnumber" id="serialnumber" class="form-control input" style="width:100px; font-size:unset;" />
                    </div>
                </div>
            </div>
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="revision" class="control-label col-xs-4" style="text-align:left;">Revision:</label>
                    <div class="fai-input">
                        <input type="text" maxlength="100" name="revision" id="revision" class="form-control input" style="width:60px; font-size:unset;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="description" class="control-label col-xs-4" style="text-align:left;">Description:</label>
                    <div class="fai-input">
                        <input type="text" maxlength="100" name="description" id="description" class="form-control input" style="width:65%; font-size:unset;" />
                    </div>
                </div>
            </div>
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="sw" class="control-label col-xs-4" style="text-align:left;">Type:</label>
                    <label for="sw" style="padding-top: 5px;">SW:</label>
                    <input type="radio" name="sw" id="sw" class="form-control input" style="width:unset; height:unset; display:inline-block; margin:0 0 2px 0;" />
                    <label for="fw" style="padding-top: 5px;">&nbsp;&nbsp;FW:</label>
                    <input type="radio" name="fw" id="fw" class="form-control input" style="width:unset; height:unset; display:inline-block;margin:0 0 2px 0;" />
                    <label for="hw">&nbsp;&nbsp;HW:</label>
                    <input type="radio" name="hw" id="hw" class="form-control input" style="width:unset; height:unset; display:inline-block;margin:0 0 2px 0;" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="status" class="control-label col-xs-4" style="text-align:left;">Date from Engineering:</label>
                    <div class="fai-input">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color input-date" style="width:100px; font-size:unset;" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-col fai-header-cols col-xs-5">
                <div>
                    <div class="form-group">
                        <label for="status" class="control-label col-xs-4" style="text-align:left;">Test Type</label>
                        <label for="status" class="control-label col-xs-2" style="text-align:center;">Planned</label>
                        <label for="status" class="control-label col-xs-2" style="text-align:center;">Completed</label>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label col-xs-4" style="text-align:left;">Engineering Test</label>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label col-xs-4" style="text-align:left;">Smoke Test</label>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label col-xs-4" style="text-align:left;">Customer Beta Test</label>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label col-xs-4" style="text-align:left;">Targeted Regression</label>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label col-xs-4" style="text-align:left;">Scenario Test</label>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="control-label col-xs-4" style="text-align:left;">Full Regression</label>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                        <div class="col-xs-2" style="padding-left: 40px;">
                            <input type="radio" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-col fai-header-cols col-xs-1">
                    <div class="form-group">

                    </div>
                </div>*@
        </div>
        <hr />
        <div class="row">
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="status" class="control-label col-xs-6" style="text-align:left;">Integration Test</label>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Date Received</label>
                    <div class="col-xs-2">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color input-date" style="width:100px; font-size:unset;" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">QA Result</label>
                    <div class="col-xs-4">
                        <div class="fai-input">
                            <select class="level1 form-control status" id="productrange" name="productrange">
                                <option value="" disabled selected>Select QA Results</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Name</label>
                    <div class="col-xs-6">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color" style=" font-size:unset;" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Date</label>
                    <div class="col-xs-2">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color input-date" style="width:100px; font-size:unset;" />
                    </div>
                </div>
            </div>
            @*<div class="form-col fai-header-cols col-xs-1">
                    <div class="form-group">

                    </div>
                </div>*@
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="status" class="control-label col-xs-4" style="text-align:left;">Areas to test (Targeted):</label>
                </div>
                <textarea cols="68" rows="6"></textarea>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="status" class="control-label col-xs-6" style="text-align:left;">Production Test</label>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Sign-off required</label>
                    <div class="col-xs-2">
                        <input type="checkbox" maxlength="100" name="xx" id="xx" class="col-xs-2 form-control input" style="height:unset;width:unset; font-size:unset;" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Date Received</label>
                    <div class="col-xs-2">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color input-date" style="width:100px; font-size:unset;" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Results</label>
                    <div class="col-xs-4">
                        <div class="fai-input">
                            <select class="level1 form-control status" id="productrange" name="productrange">
                                <option value="" disabled selected>Select Results</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Name</label>
                    <div class="col-xs-6">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color" style=" font-size:unset;" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Date</label>
                    <div class="col-xs-2">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color input-date" style="width:100px; font-size:unset;" />
                    </div>
                </div>
            </div>
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="xnotes" class="control-label col-xs-4" style="text-align:left;">Notes:</label>
                </div>
                <textarea id="xnotes" cols="68" rows="7"></textarea>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-col fai-header-cols col-xs-6">
                <div class="form-group">
                    <label for="status" class="control-label col-xs-6" style="text-align:left;">Production Engineering</label>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">PCR Number</label>
                    <div class="col-xs-2">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color input-date" style="width:100px; font-size:unset;" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="control-label col-xs-3" style="text-align:left;">Name</label>
                    <div class="col-xs-6">
                        <input type="text" maxlength="100" name="Engineering" id="Engineering" class="form-control fai-input-color" style=" font-size:unset;" />
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
