﻿@using QD809.Models
@model EmailTemplateModels.renderEmail
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="Title" content="">
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico?v=4">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
    @*<link rel="stylesheet" href="https://customerservice.jtech.com/css/main.css?v=104">*@
</head>
<body>
    <div align="center">
        <table class="OuterBGColor" style="background-color:#eeeeee;" bgcolor="#eeeeee" border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="1" colspan="1" align="center">
                    <div class="TemplateMaxWidth" style="margin-left:auto;max-width:640px;margin-right:auto;" align="center">
                        <table style="margin-left:auto;margin-right:auto;" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="bottom" rowspan="1" colspan="1"><img height="5" vspace="0" border="0" hspace="0" width="1" alt="" src="http://www.hme.com/QSR/images/email/S.gif" /></td>
                                <td class="TemplateMainWidth" style="width:640px;" valign="top" rowspan="1" colspan="1" align="center">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="TopMargin" style="padding:18px 0px 0px 0px;" valign="top" width="100%" rowspan="1" colspan="1" align="center"></td>
                                        </tr>
                                    </table>
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="background-color:#EDEDED;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL1.png" /></td>
                                            <td style="background-color:#EBEBEB;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL2.png" /></td>
                                            <td style="background-color:#E8E8E8;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL3.png" /></td>
                                            <td style="background-color:#E5E5E5;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL4.png" /></td>
                                            <td style="background-color:#E0E0E0;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL5.png" /></td>
                                            <td style="background-color:#DADADA;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL6.png" /></td>
                                            <td style="background-color:#D4D4D4;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL7.png" /></td>
                                            <td style="background-color:#CCCCCC;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL8.png" /></td>
                                            <td style="background-color:#C3C3C3;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTL9.png" /></td>
                                            <td valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td class="InnerBGColor Top" style="background-color:#ffffff;padding:0px 0px 0px 0px;" bgcolor="#ffffff" valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK1">
                                                                <tr>
                                                                    <!--- Main Logo --->
                                                                    <td class="MainText FullImage" style="padding:10px 0px 10px 10px;color:#383838;font-size:11pt;font-family:Calibri,Helvetica,Arial,sans-serif;" valign="top" rowspan="1" colspan="1" align="left">
                                                                        <div><img src='cid:~attachment1~'></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table style="background-color:#0093d8;display:table;" bgcolor="#0093D8" border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK2">
                                                                <tr>
                                                                    <td class="Content" style="padding:8px 41px 9px 41px;color:#ffffff;font-family:Arial,Helvetica,sans-serif;" valign="top" rowspan="1" colspan="1" align="left">
                                                                        <div style="text-align:center;" align="center">
                                                                            <div>
                                                                                <div style="font-size:18pt;text-align:center;" align="center">
                                                                                    <!--- Main Header --->
                                                                                    <span><b><span>@Model.header1</span>&nbsp; &nbsp;</b></span>
                                                                                </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td class="Spacer" style="padding-bottom:14px;line-height:1px;height:1px;" height="1" valign="top" rowspan="1" colspan="1" align="center"><img height="1" vspace="0" border="0" hspace="0" width="5" style="display: block;" alt="" src="http://www.hme.com/QSR/images/email/S.gif" /></td>
                                                                </tr>
                                                            </table>
                                                            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK5">
                                                                <tr>
                                                                    <!--- Main Conent --->
                                                                    <td class="MainText Content" style="padding:8px 41px 9px 41px;color:#383838;font-size:11pt;font-family:Calibri,Helvetica,Arial,sans-serif;" valign="top" rowspan="1" colspan="1" align="left">
                                                                        @foreach (var item in Model.maincontent)
                                                                        {
                                                                            if (item.row.Contains("Please check the"))
                                                                            {
                                                                                <p>@Html.Raw(@item.row)</p>
                                                                            }
                                                                            else
                                                                            {
                                                                            <p>@Html.DisplayFor(modelItem => item.row)</p>
                                                                            }
                                                                        }
                                                                        
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td class="Spacer" style="padding-bottom:14px;line-height:1px;height:1px;" height="1" valign="top" rowspan="1" colspan="1" align="center"><img height="1" vspace="0" border="0" hspace="0" width="5" style="display: block;" alt="" src="http://www.hme.com/QSR/images/email/S.gif" /></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="background-color:#C3C3C3;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR1.png" /></td>
                                            <td style="background-color:#CCCCCC;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR2.png" /></td>
                                            <td style="background-color:#D4D4D4;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR3.png" /></td>
                                            <td style="background-color:#DADADA;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR4.png" /></td>
                                            <td style="background-color:#E0E0E0;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR5.png" /></td>
                                            <td style="background-color:#E5E5E5;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR6.png" /></td>
                                            <td style="background-color:#E8E8E8;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR7.png" /></td>
                                            <td style="background-color:#EBEBEB;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR8.png" /></td>
                                            <td style="background-color:#EDEDED;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowTR9.png" /></td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:#EDEDED;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL1.png" /></td>
                                            <td style="background-color:#EBEBEB;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL2.png" /></td>
                                            <td style="background-color:#E8E8E8;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL3.png" /></td>
                                            <td style="background-color:#E5E5E5;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL4.png" /></td>
                                            <td style="background-color:#E0E0E0;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL5.png" /></td>
                                            <td style="background-color:#DADADA;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL6.png" /></td>
                                            <td style="background-color:#D4D4D4;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL7.png" /></td>
                                            <td style="background-color:#CCCCCC;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL8.png" /></td>
                                            <td style="background-color:#C3C3C3;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBL9.png" /></td>
                                            <td valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td class="InnerBGColor Middle" style="background-color:#ffffff;padding:0px 0px 0px 0px;" bgcolor="#ffffff" valign="top" width="100%" rowspan="1" colspan="1" align="center"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="InnerBGColor Bottom" style="background-color:#ffffff;padding:0px 0px 0px 0px;" bgcolor="#ffffff" valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                            <table style="background-color:#0093d8;display:table;" bgcolor="#0093D8" border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK7">
                                                                <tr>
                                                                    <td class="Content" style="padding:8px 41px 9px 41px;color:#ffffff;font-size:11pt;font-family:Calibri, Helvetica, Arial, sans-serif;" valign="top" rowspan="1" colspan="1" align="left">
                                                                        <div style="text-align:center;" align="center">
                                                                            <span style="font-family:Arial, Helvetica, sans-serif;">
                                                                                <!--- Main Phone and Main Website --->
                                                                                @*<strong><div>@Model.footer1 &nbsp; &nbsp;|&nbsp;&nbsp;&nbsp; <a style="color:rgb(255, 255, 255);text-decoration:none;" track="on" shape="rect" href="@Model.footer2" linktype="1" alt="@Model.footer2" target="_blank">@Model.footer2</a>&nbsp;</div></strong>*@
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td style="line-height:1px;" valign="top" rowspan="1" colspan="1"><img height="13" vspace="0" border="0" hspace="0" width="9" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBottomBL.png" align="top" /></td>
                                                        <td style="line-height:1px;" valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                            <table style="background-color:#EDEDED;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                                                <tr><td style="background-color:#A3A3A3;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" width="275" style="display:none;" src="http://www.hme.com/QSR/images/email/H.gif" align="left" /><img height="1" vspace="0" border="0" hspace="0" width="275" style="display:block;" src="http://www.hme.com/QSR/images/email/H.gif" /></td></tr>
                                                                <tr><td style="background-color:#A9A9A9;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#B1B1B1;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#BABABA;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#C3C3C3;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#CBCBCB;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#D4D4D4;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#D9D9D9;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#E0E0E0;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#E5E5E5;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#E8E8E8;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#EBEBEB;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                                <tr><td style="background-color:#EDEDED;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="http://www.hme.com/QSR/images/email/R.gif" align="left" /></td></tr>
                                                            </table>
                                                        </td>
                                                        <td style="line-height:1px;" valign="top" rowspan="1" colspan="1"><img height="13" vspace="0" border="0" hspace="0" width="9" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBottomBR.png" align="top" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="background-color:#C3C3C3;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR1.png" /></td>
                                            <td style="background-color:#CCCCCC;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR2.png" /></td>
                                            <td style="background-color:#D4D4D4;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR3.png" /></td>
                                            <td style="background-color:#DADADA;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR4.png" /></td>
                                            <td style="background-color:#E0E0E0;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR5.png" /></td>
                                            <td style="background-color:#E5E5E5;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR6.png" /></td>
                                            <td style="background-color:#E8E8E8;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR7.png" /></td>
                                            <td style="background-color:#EBEBEB;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR8.png" /></td>
                                            <td style="background-color:#EDEDED;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="http://www.hme.com/QSR/images/email/PT_MFAN_OuterShadowBR9.png" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="bottom" rowspan="1" colspan="1"><img height="5" vspace="0" border="0" hspace="0" width="1" alt="" src="http://www.hme.com/QSR/images/email/S.gif" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" align="center">
                    <div class="TemplateMaxWidth" style="margin-left:auto;max-width:640px;margin-right:auto;" align="center">
                        <table style="margin-left:auto;margin-right:auto;" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="bottom" rowspan="1" colspan="1"><img height="5" vspace="0" border="0" hspace="0" width="1" alt="" src="http://www.hme.com/QSR/images/email/S.gif" /></td>
                                <td class="TemplateMainWidth" style="width:640px;" valign="top" rowspan="1" colspan="1" align="center">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="BottomMargin" style="padding:0px 0px 0px 0px;" valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK8">
                                                    <tr>
                                                        <td class="MainText Content" style="padding:8px 41px 9px 41px;color:#383838;font-size:11pt;font-family:Calibri,Helvetica,Arial,sans-serif;" valign="top" rowspan="1" colspan="1" align="center">
                                                            <div style="text-align:center;" align="center"><span style="font-size:9pt;"> &copy; @DateTime.Now.Year-Clear-Com, an HME Company.</span></div>
                                                            <div style="text-align:center;" align="center"><span style="font-size:9pt;"></span><br /><br /></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="bottom" rowspan="1" colspan="1"><img height="5" vspace="0" border="0" hspace="0" width="1" alt="" src="http://www.hme.com/QSR/images/email/S.gif" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
