﻿@model PagedList.IPagedList<QD809.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.strikethrough = "strikethrough";
}
<script>
    jQuery.fn.center = function () {
        this.css("position", "absolute");
        this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                                                    $(window).scrollTop()) + "px");
        this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                                                    $(window).scrollLeft()) + "px");
        return this;
    }

    var edituser = "@ViewBag.EditUser";
    if (edituser != undefined && edituser.length != '') {
        var userInfo = edituser.split(',');
        window.parent.edituser(edituser);
    }

    var newuser = "@ViewBag.NewUser";
    if (newuser != undefined && newuser.length != '') {
        var userInfo = newuser.split(',');
        window.parent.addnewuser(newuser);
    }

    var deleteuser = "@ViewBag.DeleteUser";
    if (deleteuser != undefined && deleteuser.length != '') {
        var userInfo = deleteuser.split(',');
        window.parent.deleteuser(deleteuser);
    }

    function confirmation(msg, id) {
        var answer = confirm(msg)
        if (answer) {
            window.parent.changeactivestatus(id);
        }
        return answer;
    }
    $(document).ready(function () {
        var nodelete = "@ViewBag.NoDelete";
        if (nodelete != undefined && nodelete.length != '') {
            $('#msg').html('Unable to delete ' + nodelete + '. User is assigned to a Log.  You must transfer to another user or set user in-active.');
            $('#message').center();
            $('#message').slideDown("slow", function () {
                setTimeout(function () {
                    $('#message').slideUp("slow", function () {
                    });
                }, 8000);
            });
        }
    });
</script>
<br />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "btn btn-default" })
    @*@Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-default" })*@
</p>
<br />
@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{

    <div class="form-group">
        Search:&nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)

        <input type="submit" value="Search" />
    </div>
}
<br />

<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Locked Out
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="@if (item.Isactive == 0) { @ViewBag.strikethrough; } ">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }) |
                @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                {
                    @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
                        new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                } |
                @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                {
                    if (item.Isactive == 1)
                    {
                        @Html.ActionLink("Set Inactive", "IsActiveUser", new { UserName = item.UserName },
                                 new { onclick = "return confirmation('Are you sure you wish to set this user Inactive ?','" + @item.id + "');" })
                    }
                    else
                    {
                        @Html.ActionLink("Set Active", "IsActiveUser", new { UserName = item.UserName },
                                 new { onclick = "return confirmation('Are you sure you wish to set this user Active ?','" + @item.id + "');" })
                    }
                    if (item.LockoutEndDateUtc != null)
                    {
                         @Html.ActionLink(" | Unlock", "UnlockUser", new { UserName = item.UserName },
                                 new { onclick = "return confirmation('Are you sure you wish to unlock this user ?','" + @item.id + "');" })
                    }

                }
            </td>
        </tr>
    }


</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new { page,
        searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
        currentFilter = ViewBag.CurrentFilter }))

